<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>
<body>
    <!-- <h1><a href="/">Home</a></h1> -->
    <h1><a href="https://learning.postman.com/docs/publishing-your-api/documenting-your-api/">Docs</a></h1>
    <h2>Add Phone</h2>
    <form action="/api/phone/add" method="POST">
      <input type="text" name="name" placeholder="Phone Name" required><br>
      <input type="text" name="brand" placeholder="Phone Brand" required><br>
      <input type="number" name="battery" placeholder="Phone Battery" required><br>
      <input type="text" name="screen_size" placeholder="Screen Size" required><br>
      <input type="text" name="touchscreen" placeholder="Touchscreen" required><br>
      <input type="number" name="processor" placeholder="Phone Processor" required><br>
      <input type="number" name="ram" placeholder="Phone RAM" required><br>
      <input type="number" name="storage" placeholder="Phone Storage" required><br>
      <input type="number" name="rear_camera" placeholder="Rear Camera" required><br>
      <input type="number" name="front_camera" placeholder="Front Camera" required><br>
      <input type="text" name="system" placeholder="Phone System" required><br>
      <input type="number" name="sim" placeholder="Phone SIM" required><br>
      <button type="submit">Add Phone</button><br><br><br><br><br>
      <a href="/logout">Logout</a>
    </form>
</body>
</html>