<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>
<body>
    <!-- <h1><a href="/">Home</a></h1> -->
    <h1><a href="https://learning.postman.com/docs/publishing-your-api/documenting-your-api/">Docs</a></h1>
    <h2>Add Restaurant</h2>
    <form action="/api/restaurant/add" method="POST">
      <input type="text" name="restaurant_name" placeholder="Restaurant Name" required><br>
      <input type="text" name="restaurant_location" placeholder="Restaurant Location" required><br>
      <input type="text" name="restaurant_phone" placeholder="Restaurant Phone" required><br>
      <input type="date" name="restaurant_time" placeholder="Restaurant Time" required><br>
      <button type="submit">Add Restaurant</button><br><br><br><br><br>
      <a href="/logout">Logout</a>
    </form>
</body>
</html>