<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API</title>
</head>

<body>
    <h2>User Registration</h2>
    <form action="/register" method="POST">
      <input type="email" unique id="email" name="email" placeholder="Email" required><br>
      <input type="password" id="password" name="password" placeholder="Password" required><br>
      <button type="submit">Register</button>
    </form>

    <h1><a href="https://diyor-fully-api.onrender.com/api/phone">See all data</a></h1>
</body>

</html>